blockquote {
    border-left: 4px var(--primary-pale-color) solid;
    padding-left: 16px;
    margin: 0 0 24px 0;
    color: var(--text-pale-color);
  }

blockquote.callout {
        line-height: var(--paragraph-line-height);
        margin-bottom: 10px;
        border: none;
        border-radius: 4px;
        padding: 6px 12px;
        display: flex;
        gap: 10px;
  
        .icon {
          height: 1.75em;
          display: flex;
          align-items: center;
        }
  
        .callout-content {
          p {
            margin: 0;
  
            +p {
              margin-top: 0.5em;
            }
          }
        }
  
        &.note {
          color: var(--callout-note-color);
          background-color: var(--callout-note-bg-color);
        }
  
        &.important {
          color: var(--callout-important-color);
          background-color: var(--callout-important-bg-color);
        }
  
        &.warning {
          color: var(--callout-warning-color);
          background-color: var(--callout-warning-bg-color);
        }
  
        &.alert {
          color: var(--callout-alert-color);
          background-color: var(--callout-alert-bg-color);
        }
  
        &.question {
          color: var(--callout-question-color);
          background-color: var(--callout-question-bg-color);
        }
  
        &.tip {
          color: var(--callout-tip-color);
          background-color: var(--callout-tip-bg-color);
        }
      }
    