{% macro page_desc(desc, page) %}

{% set light_src = desc.img %}
{% set dark_src = desc.img_dark  %}
{% set light_meta = get_image_metadata(path=light_src, allow_missing=true) %}
{% set dark_meta = get_image_metadata(path=dark_src, allow_missing=true) %}

<div id="banner-container-home">
    <div id="home-banner-text">
        <div class="home-banner-header">{{ desc.title }}</div>
        <section id="banner-home-subtitle">
            {{ page.content | safe }}
        </section>
    </div>
    <div class="image-container-home">

        {% if full_width | default(value=false) %}
            <div class="full-width">
        {% endif %}
        <img src="{{ get_url(path=light_src) }}" {% if alt %}alt="{{ alt }}" {% endif %} {% if light_meta.width %}width="{{ light_meta.width }}" {% endif %} {% if light_meta.height %}height="{{ light_meta.height }}" {% endif %} class="img-light">
        <img src="{{ get_url(path=dark_src) }}" {% if alt %}alt="{{ alt }}" {% endif %} {% if dark_meta.width %}width="{{ dark_meta.width }}" {% endif %} {% if dark_meta.height %}height="{{ dark_meta.height }}" {% endif %} class="img-dark">
        {% if full_width | default(value=false) %}
            </div>
        {% endif %}
    </div>
</div>

{% endmacro %}
